/* * {
  margin: 0;
} */

body {
  font-size: 20px;
}

.container {
  width: 1100px;
  margin: 0 auto;
}
.app {
  background-color: #fafafa;
  height: 100vh;
}
.app-header {
  /* width: auto; */
  /* margin: 0 auto !important; */
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-bottom: 1px solid lightgray;
  border-radius: 30px;
}

.app-headerImage {
  width: 200px;
  height: 50px;
  margin: 0 auto !important;
  margin-left: 41% !important;
  padding: 20px;
  object-fit: contain;
}

.app-headerImage2 {
  width: 200px;
  height: 50px;
  margin: 0 auto !important;
  padding: 20px;
  object-fit: contain;
}

.app-welcome-div {
  text-align: center;
}

.app-signUp {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.app-post-container {
  display: flex;
  flex-direction: row;
}

.app-post-left {
  margin-right: 20px;
}

.app-post-right {
  margin-top: 30px;
}
.app-login-container {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-device-width: 480px) {
  body {
    font-size: 20px;
  }

  .container {
    padding-left: 100px;
  }

  .app-headerImage {
    margin-left: 60% !important;
    margin-right: 10% !important;
  }

  .app-login-container {
    margin-top: 50px !important;
  }

  .container {
    max-width: 600px;
  }
  .app-post-container {
    max-width: 600px;
    margin-right: 0 !important;
  }

  .app-post-right {
    display: none;
  }

  .app-post-left {
    margin-right: 0;
    margin-left: 0;
  }
}

@media only screen and (max-device-width: 540px) {
  body {
    font-size: 20px;
  }
  .app-post-right {
    display: none;
  }
}
